@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
} 

header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
  }
  
  nav {
    width: 600px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav a {
    text-decoration: none;
    color: black;
  }
  
  .blackHeart {
    width: 20px;
    margin-right: 1rem;
  }

.search-div{
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

  .npm-logo{
    width: 50px;
    padding: 5px;
  }

  .search-icon{
    width: 25px;
  }

  #search-bar{
    display: flex;
    flex-direction: row;
    background-color: rgba(0,0,0,.05);
    width: 80%;
  }
  

  #search-bar input{
    background-color: #0000;
    border-style: none;
    width: 100%;
    padding: 5px;
  }

  .search-btn{
    background-color: #fb3e44;
    border-style: none;
    color: white;
  }

  .join-btn{
    border: 1px gray solid;
    color: gray;
    text-decoration: none;
    padding: 5px 15px;
  }

  .log-in-btn{
    color: gray;
    text-decoration: none;
  }

  .auth-links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .auth-links a{
    margin: 5px;
  }

h1 {
  font-size: 3.5em;
}

h2{
  font-size: 2em;
}

.container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

  #front-page{
    background-color: rgba(232, 217,217,.3);   
    height: 600px;
  }

  #front-page h1{
    margin-bottom: 5px;
  }

  #front-page article{
    width: 400px;
    justify-content: center;
    text-align: center;
    margin-bottom: 10px;
  }

  #front-page div{
    display: flex;
    flex-direction: row;
    justify-content:space-between;

    width: 400px;
    align-items: center;
    height: 100px;
  }

  #front-page a{
    text-decoration: none;
    color: black;
    font-size: 1.2em;
    padding: 20px 10px;
    text-align: center;
    width: 170px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #front-page .plans-btn{
    background-color: #fb3e44;
    color: white;
    box-shadow: 8px 8px 0 rgba(251, 59, 73, .2);
  }

  #description{
    height: 500px;
    padding: 50px;
  }

#description img{
  height: 200px;
  margin-bottom: 40px;
}

#description h2{
  background-color: rgba(255, 204, 53, .4);
  transform: skew(9deg, 0deg);
  font-style: italic;
  width: 850px;
  text-align: center;
}

#description article{
  width: 675px;
  text-align: center;
  margin-top: 1px;
}

#description p{
  font-size: 0.86em;
}

#features{
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#features div{
  margin: 75px;
  display: flex;
  flex-direction: row;
  width: 1200px;
}

.feature{
  width: 25%;
  padding: 0px 25px;
}


.feature img{
  height: 30px;
}

.feature h3{
  color: #ED1C24;
}

.create-org-btn{
  background-color: black;
  color: white;
  text-decoration: none;
  text-align: center;
  width: 400px;
  height: 60px;
  line-height: 60px;
  box-shadow: 8px 8px 0 rgba(128,83,35,.2);
}